/* Stile Generale */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

/* Header */
header {
    background: #b71c1c; /* Un rosso garibaldino */
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
    border-bottom: #006400 3px solid; /* Un tocco di verde */
}
header h1 {
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 2.5em;
}

/* Navigazione */
nav {
    background: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 500;
}
nav a:hover {
    background: #b71c1c;
}

/* Contenuto Principale */
main {
    padding: 20px 0;
}

main section {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

main h2, main h3 {
    font-family: 'Merriweather', serif;
    color: #b71c1c;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}


/* Stile Slideshow */

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    border-radius: 8px;
    overflow: hidden; /* Nasconde le parti dell'immagine che escono dal bordo arrotondato */
}

.slide {
    display: none; /* Nasconde tutte le slide di default */
}

.slide img {
    width: 100%;
    vertical-align: middle; /* Rimuove lo spazio bianco sotto l'immagine */
}

.caption {
    color: #f2f2f2;
    font-size: 1em;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box; /* Assicura che il padding non aumenti la larghezza */
}

/* Pulsanti Avanti/Indietro */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.3);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #b71c1c; /* Usa il colore del tema */
}

/* Pallini/indicatori */
.dots-container {
    text-align: center;
    margin-top: 15px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Animazione Fade */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
